TMDB_API_KEY=YOUR_KEY_HERE

# OPTIONAL
# set to true if using Kometa (formerly Plex Meta Manager)
REMOVE_OVERLAYS=false
# fanart.tv credentials (required for fanart client)
FANART_API_KEY=YOUR_KEY_HERE
# ThePosterDB credentials (required for ThePosterDB client)
THEPOSTERDB_EMAIL=YOUR_EMAIL_HERE
THEPOSTERDB_PASSWORD=YOUR_PASSWORD_HERE
