h1 {
  @apply text-5xl md:text-6xl lg:text-7xl font-black tracking-tight pb-2 mb-6 bg-gradient-to-br from-foreground via-foreground to-foreground/60 bg-clip-text text-transparent;
}

h2 {
  @apply text-4xl md:text-5xl lg:text-6xl font-black tracking-tight pb-2 mb-6 bg-gradient-to-br from-foreground via-foreground to-foreground/60 bg-clip-text text-transparent;
}

h3 {
  @apply text-3xl md:text-4xl lg:text-5xl font-black tracking-tight pb-2 mb-6 bg-gradient-to-br from-foreground via-foreground to-foreground/60 bg-clip-text text-transparent;
}

h4 {
  @apply text-2xl font-black tracking-tight pb-2 mb-6 bg-gradient-to-br from-foreground via-foreground to-foreground/60 bg-clip-text text-transparent;
}

p {
  @apply text-lg font-light leading-relaxed max-w-2xl
}